<div class="main-container">
  <div class="settings-wrapper">
    <div class="settings-container">
      <h1>Settings</h1>
      <div class="tab-content" id="pills-tabContent">
        <div>
          <div id="profile" class="tab-content active">
            <h4>General</h4>
            <div class="settings-item">
              <div class="text-container">
                <label>Display Name</label>
                <span style="color: grey"
                  >Changing your display name won’t change your username</span
                >
              </div>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-secondary modal-btn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Display Name
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body" style="background-color: grey">
                      <form
                        [formGroup]="updateUsername"
                        (ngSubmit)="
                          updateUserField(
                            'display_name',
                            updateUsername.get('display_name')?.value
                          )
                        "
                        *ngIf="updateUsername"
                      >
                        <div class="form-group">
                          <div>
                            Changing your display name won't change your
                            username
                          </div>
                          <input
                            type="text"
                            formControlName="display_name"
                            required
                          />
                          <div
                            *ngIf="
                              updateUsername.get('display_name')?.invalid &&
                              updateUsername.get('display_name')?.touched
                            "
                            class="error"
                          >
                            Display Name is required.
                          </div>
                        </div>

                        <button
                          type="submit"
                          class="login-btn-submit"
                          [disabled]="updateUsername.invalid"
                        >
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="settings-item">
              <div class="text-container">
                <label>Avatar</label>
                <span style="color: grey">Upload your Avatar</span>
              </div>
              <!-- Button trigger modal -->

              <button
                type="button"
                class="btn btn-secondary modal-btn"
                data-bs-toggle="modal"
                data-bs-target="#uploadProfilePictureModal"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="uploadProfilePictureModal"
                tabindex="-1"
                aria-labelledby="uploadProfilePictureModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="uploadProfilePictureModalLabel"
                      >
                        Avatar Image
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body" style="background-color: grey">
                      <form
                        [formGroup]="updateProfilePicture"
                        *ngIf="updateProfilePicture"
                      >
                        <div class="form-group">
                          <div class="profile-picture-preview">
                            <img
                              [src]="userProfile?.profile_picture_src"
                              alt="Profile Picture"
                              class="profile-picture"
                            />
                          </div>
                          <input
                            type="file"
                            id="imageP"
                            (change)="onFileSelected($event)"
                            style="display: none"
                            accept=".jpg, .png"
                          />
                          <label for="imageP" class="select-avatar-label"
                            >Select a New Avatar</label
                          >
                        </div>

                        <button
                          type="submit"
                          class="login-btn-submit"
                          [disabled]="updateProfilePicture.invalid"
                          (click)="onUpload()"
                        >
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="settings-item">
              <div class="text-container">
                <label>About Description</label>
              </div>
              <!-- Button trigger modal -->

              <button
                type="button"
                class="btn btn-secondary modal-btn"
                data-bs-toggle="modal"
                data-bs-target="#about_descriptionModal"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                  />
                </svg>
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="about_descriptionModal"
                tabindex="-1"
                aria-labelledby="about_descriptionModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="about_descriptionModalLabel"
                      >
                        About Description
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body" style="background-color: grey">
                      <form
                        [formGroup]="updateDescription"
                        (ngSubmit)="
                          updateUserField(
                            'about_description',
                            updateDescription.get('about_description')?.value
                          )
                        "
                        *ngIf="updateDescription"
                      >
                        <div class="form-group">
                          <div>Give a brief description of yourself</div>
                          <input
                            type="text"
                            formControlName="about_description"
                            maxlength="170"
                            required
                          />
                          <div
                            *ngIf="
                              updateDescription.get('display_name')?.invalid &&
                              updateDescription.get('display_name')?.touched
                            "
                            class="error"
                          >
                            Display Name is required.
                          </div>
                        </div>

                        <button
                          type="submit"
                          class="login-btn-submit"
                          [disabled]="updateDescription.invalid"
                        >
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
