<div class="main-container d-flex" *ngIf="post">
  <div class="community-content flex-grow-1 me-3 m-3">
    <div class="post-container p-3">
      <div class="post-header">
        <div class="user-info" *ngIf="community">
          <button class="btn btn-back" (click)="goBack()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
              />
            </svg>
          </button>
          <img
            *ngIf="community"
            [src]="community.icon_img_src"
            alt="User Profile Picture"
            class="user-image"
            (click)="communityService.displayCommunity(post.community_id)"
          />
          <div
            class="user-name"
            (click)="communityService.displayCommunity(post.community_id)"
          >
            r/{{ community.community_name }}
            <div
              style="font-weight: 300; font-size: 14px; margin-top: -5px"
              (click)="userService.displayUser(creator._id!)"
              *ngIf="creator && !post.is_deleted"
            >
              {{ creator.username }}
            </div>
            <div
              style="font-weight: 300; font-size: 14px; margin-top: -5px"
              (click)="userService.displayUser(creator._id!)"
              *ngIf="post.is_deleted"
            >
              [deleted]
            </div>
          </div>

          <div class="post-time">
            • {{ postService.timeAgo(post.time_of_posting) }}
          </div>
        </div>
      </div>
      <h2 class="post-title">{{ post.title }}</h2>
      <div *ngIf="!post.is_deleted">
        <div class="post-text" [innerHTML]="post.text" *ngIf="post.text"></div>
        <div class="image-container" *ngIf="post.img_src">
          <div
            class="background-image"
            [ngStyle]="{ 'background-image': 'url(' + post.img_src + ')' }"
          ></div>
          <img [src]="post.img_src" alt="Post Image" class="original-image" />
        </div>
        <div class="video-container" *ngIf="post.vid_src">
          <video
            autoplay="autoplay"
            controls="controls"
            id="vid"
            [muted]="'muted'"
            loop
          >
            <source [src]="post.vid_src" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div *ngIf="post.is_deleted" style="width: 100%">
        <div
          class="post-text"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          "
        >
          <div
            style="
              text-align: center; /* Center text inside the div */
              padding: 15px; /* Optional padding for better appearance */
              border: 0.5px solid rgba(128, 128, 128, 0.274);
              border-radius: 5px;
              margin-top: 20px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
              style="color: red"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
              />
            </svg>
            Sorry, this post was deleted by the person who originally posted it.
          </div>
        </div>
      </div>
      <div
        class="react-btn-grp"
        style="margin: 10px; padding: 5px; margin-bottom: 0px"
      >
        <app-vote
          [entity]="{
            vote_count: post.vote_count,
            entity_id: post._id,
            entity_type: 'post'
          }"
        ></app-vote>
        <button class="btn btn-comment" (click)="scrollDown()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-chat-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
            />
          </svg>
          <span style="margin-left: 8px; font-weight: 500">
            {{ post.comment_count }}</span
          >
        </button>
        <button
          class="btn btn-share"
          id="liveToastBtn"
          (click)="helperService.copyText('post/' + post._id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-share"
            viewBox="0 0 16 16"
          >
            <path
              d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"
            />
          </svg>
          <span style="margin-left: 8px; font-weight: 500"> Share</span>
        </button>
      </div>
      <app-create-comment
        [postId]="post._id!"
        [postStatus]="post.status!"
        (commentCreated)="commentCreated()"
      ></app-create-comment>
      <div>
        <div class="comment-list" *ngFor="let comment of comments">
          <app-view-comment [comment]="comment"></app-view-comment>
        </div>
      </div>
      <div *ngIf="post.parent_comment_ids.length == 0 && newComment">
        <div class="comment-container d-flex">
          <img src="assets/emptyComments.png" alt="" class="empty-comment" />
          <div>
            <p style="color: white">Be the first to comment</p>
            <p style="color: white">Nobody's responded to this post yet.</p>
            <p style="color: white">
              Add your thoughts and get the conversation going.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-community-info-card
    [community]="community"
    [isModerator]="isModerator"
    [moderator]="moderator"
  ></app-community-info-card>
</div>
