<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
  #confirmationModal
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">Are you sure? This action cannot be undone.</div>
      <div class="confirmation-btn">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          No
        </button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
