#signup-button {
  background-color: #d93900;
  border-radius: 999px;
  color: white;
}

.button-container {
  display: flex;
  gap: 10px;
}

.dropdown {
  border-radius: 999px;
  background-color: none;
  border: 0;
}

.signup-container {
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  color: grey;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
#btn-dropdown {
  background-color: unset;
  border-radius: 50%;
  padding-left: 14px;
  padding-right: 14px;
}
#btn-dropdown:hover {
  background-color: #2a3236;
}
.btn-close {
  background-color: #2a3236;
  border-radius: 999px;
}

.interest-button {
  background-color: #2a3236;
  border-radius: 999px;
}

.interest-button:hover {
  background-color: red;
  border-radius: 999px;
}

.trending-header {
  margin-top: 10px;
}
.btn-back:hover {
  padding-left: 14px;
  padding-right: 14px;
  background-color: #3840448e;
  border-radius: 999px;
}
.modal-content {
  background-color: #181c1f;
  color: white;
}

input[type="password"],
input[type="text"] {
  height: 3rem;
  border: 0px !important;
  border-radius: 1.25rem;
  margin-bottom: 1.5rem;
  background-color: #2a3236;
}

.signup-btn-submit {
  width: 100%;
  background-color: #2a3236 !important;
  border-radius: 1.5rem !important;
}

button[_ngcontent-ng-c1871859196]:disabled {
  background-color: #2a3236 !important;
}

button[_ngcontent-ng-c2915848017]:disabled {
  background-color: #2a3236 !important;
}

a {
  text-decoration: unset;
}

.invalid-message {
  color: red;
  margin-top: -22px;
  margin-bottom: 25px;
  margin-left: 9px;
  font-size: 12px;
}

.signup-btn-submit:disabled {
  background-color: #cccccc; /* Grey background */
  cursor: not-allowed;
}

.selected {
  background-color: rgb(194, 15, 15);
}

.trending-topics {
  display: ruby;
}

.trending-topic {
  padding: 0.2rem;
}
